#toTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .2);
    opacity: .8;
    color: #fff4f4;
    width: 40px;
    height: 40px;
    font-size: 2em;
i.fa {
    display: block;
    line-height: 40px;
    text-align: center;
}
}