// Info: Styles autoplat_markup rendered output.
// Use: '@include autoplat-markup'.

// Add @margin-bottom: $pad; to all display:block elements.

.autoplat-markup {
  $pad: rem(16);
  //div.image {
  //  text-align: center;
  //}
  span.video,
  img {
    // When inside element, treat it as inline (text). Since it can be followed by a <br>, and display:block = display:inline + <br>, by displaying it as block, can result in double <br>, i.e. extra bottom padding.
    display: inline-block;
  }
  span.video {
    width: 100%;
  }
  > span.video,
  > img {
    display: block;
    margin-bottom: $pad;
  }
  p {
    margin-bottom: $pad;
  }
  ul {
    @extend %default-ul;
    margin-bottom: $pad;
  }
  ol {
    @extend %default-ol;
    margin-bottom: $pad;
  }
  li {
    margin-bottom: $pad / 2;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .row {
    @include outer-container;
    @include media($small-screen) {
      .small-1.column {
        @include span-columns(1);
      }
      .small-2.column {
        @include span-columns(2);
      }
      .small-3.column {
        @include span-columns(3);
      }
      .small-4.column {
        @include span-columns(4);
      }
      .small-5.column {
        @include span-columns(5);
      }
      .small-6.column {
        @include span-columns(6);
      }
      .small-7.column {
        @include span-columns(7);
      }
      .small-8.column {
        @include span-columns(8);
      }
      .small-9.column {
        @include span-columns(9);
      }
      .small-10.column {
        @include span-columns(10);
      }
      .small-11.column {
        @include span-columns(11);
      }
      .small-12.column {
        @include span-columns(12);
      }
    }
    @include media($medium-screen) {
      .medium-1.column {
        @include span-columns(1);
      }
      .medium-2.column {
        @include span-columns(2);
      }
      .medium-3.column {
        @include span-columns(3);
      }
      .medium-4.column {
        @include span-columns(4);
      }
      .medium-5.column {
        @include span-columns(5);
      }
      .medium-6.column {
        @include span-columns(6);
      }
      .medium-7.column {
        @include span-columns(7);
      }
      .medium-8.column {
        @include span-columns(8);
      }
      .medium-9.column {
        @include span-columns(9);
      }
      .medium-10.column {
        @include span-columns(10);
      }
      .medium-11.column {
        @include span-columns(11);
      }
      .medium-12.column {
        @include span-columns(12);
      }
    }
    @include media($large-screen) {
      .large-1.column {
        @include span-columns(1);
      }
      .large-2.column {
        @include span-columns(2);
      }
      .large-3.column {
        @include span-columns(3);
      }
      .large-4.column {
        @include span-columns(4);
      }
      .large-5.column {
        @include span-columns(5);
      }
      .large-6.column {
        @include span-columns(6);
      }
      .large-7.column {
        @include span-columns(7);
      }
      .large-8.column {
        @include span-columns(8);
      }
      .large-9.column {
        @include span-columns(9);
      }
      .large-10.column {
        @include span-columns(10);
      }
      .large-11.column {
        @include span-columns(11);
      }
      .large-12.column {
        @include span-columns(12);
      }
    }
    .column {
      img:first-child {
        //padding-top: 0;
      }
      img:last-child {
        //margin-bottom: 0;
      }
    }
    margin-bottom: $pad;
  }
}
