// This code is known as "CSS codedirection". It protects email addresses against spam, with about 100% effectiveness.
// To use, paste the following markup "<span class="protect-email" data-user="elpmaxe" data-host="moc.liamg"></span>". This will output example@gmail.com.
// Based on @see http://stackoverflow.com/questions/21421948
// For study of effectiveness, @see http://techblog.tilllate.com/2008/07/20/ten-methods-to-obfuscate-e-mail-addresses-compared/
.protect-email:before {
  content: attr(data-host) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}