/*
 * Font Smoothing
 *
 * Description
 * Makes text crisp on dark backgrounds. Most often used on dark backgrounds
 * @see https://github.com/thoughtbot/bitters/pull/180
 */
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}