/*
 * Responsive Image
 *
 * Description
 * Calculates image height, relative to the image width.
 * Inserts the image as the background-image and sets height of the element in relation to the width.
 * TODO: Why did I set background-size to contain?
 *
 * API
 * $location = image path
 * $size = x & y pixel count, i.e. 600 800
 *
 * Example
 * @include responsive-image('../img/example.png', 600 800);
 */
@mixin responsive-image($location, $size) {
  $size_x: nth($size, 1);
  $size_y: nth($size, 2);

  $image_height: $size_y / $size_x;

  padding-bottom: percentage($image_height);
  background: transparent url($location) no-repeat 0 0;
  background-size: contain;
}