/*
 * Index
 * - FRAMEWORK & SETTINGS
 * - BOWER COMPONENTS (/bower_components)
 * - LIBRARIES (/libs)
 * - VARIABLES
 * - GLOBAL
 * - REGIONS (HEADER, FOOTER, BLOCKS)
 * - PAGES
 *
 *    Page Content Structures
 *
 *    Home page
 *    +-----------------------------+
 *    |  article                    |
 *    |  +-----------------+        |
 *    |  |  block          |        |
 *    |  |  +-----------+  |        |
 *    |  |  |  header   |  |        |
 *    |  |  +-----------+  |        |
 *    |  |  +-----------+  |        |
 *    |  |  |  section  |  |        |
 *    |  |  |           |  |        |
 *    |  |  +-----------+  |        |
 *    |  +-----------------+        |
 *    |  +-----------------+        |
 *    |  |  block...       |        |
 *    |  +-----------------+        |
 *    +-----------------------------+
 *
 *    Other pages
 *    +-----------------------------+
 *    |  article                    |
 *    |  + • • • • • • • • • • • +  |
 *    |  •  header               •  |
 *    |  + • • • • • • • • • • • +  |
 *    |                             |
 *    |  + • • • • • • • • • • • +  |
 *    |  •  section              •  |
 *    |  •  +-----------------+  •  |
 *    |  •  |  block          |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  |  header   |  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  |  |  section  |  |  •  |
 *    |  •  |  |           |  |  •  |
 *    |  •  |  +-----------+  |  •  |
 *    |  •  +-----------------+  •  |
 *    |  •  +-----------------+  •  |
 *    |  •  |  block...       |  •  |
 *    |  •  +-----------------+  •  |
 *    |  + • • • • • • • • • • • +  |
 *    +-----------------------------+
 */

/*
 * FRAMEWORK & SETTINGS
 */

/*
 * FRAMEWORK & SETTINGS
 */

// Bourbon
// @see http://bourbon.io/docs
$em-base: 16px !default;
@import '../lib/contributed/bower_components/bourbon/app/assets/stylesheets/bourbon';

// Neat
// - @see http://neat.bourbon.io/docs
$modular-scale-ratio: $major-third;
$modular-scale-base: 1em;
// - Devel
$visual-grid-color: #ffa !default;
//$visual-grid: true !default;
// - Columns & Gutters
$grid-columns: 12 !default;
$gutter: 1rem !default;
$column: 2rem !default;
// - Other
$border-box-sizing: true !default;
// - Load Neat
@import '../lib/contributed/bower_components/neat/app/assets/stylesheets/neat';

// Base
@import 'base/base';

// Snippets
@import 'snippets/snippets';

// Mixins
@import 'mixins/mixins';

// Functions
@import 'functions/functions';

// Dev
@import 'dev/dev';

/*
 * BOWER COMPONENTS
 */

/*
 * LIBRARIES (/libs)
 */

// Icons
// @import '../libs/custom/icons/icons';

/*
 * VARIABLES
 */

/*
 * GLOBAL
 */

body {
  margin: 0;
  padding: 0;
  // Scale down the text on smaller devices
  font-size: modular-scale(-2);
  @include media($small-screen) {
    font-size: modular-scale(-1);
  }
  @include media($medium-screen) {
    font-size: modular-scale(0);
  }
}

/*
 * REGIONS (HEADER, FOOTER, BLOCKS)
 */

#custom-blocks--header {

}

#custom-blocks--footer {

}

/*
 * PAGES
 */

// Front
#custom-pages--front {

}